/* src/NavigationBar/NavigationBar.css */

.navbar {
  display: flex;
  justify-content: start; /* Align items to the start */
  align-items: center; /* Align items vertically */
  background-color: #2c3e50;
  padding: 0 10px;
}

.nav-link, .nav-link-button {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.nav-link:hover, .nav-link-button:hover {
  background-color: #34495e;
  color: #ecf0f1;
}

.nav-link-button {
  margin-left: auto; /* Pushes the logout button to the far right */
  background: none;
  border: none;
}

/* Additional styling for button to match links */
.nav-link-button {
  background: transparent;
  border: none;
  color: white;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
}

/* Adjust padding for visual consistency */
.nav-link-button:hover {
  background-color: #34495e;
}
